.greentext {
  color: green;
}


#maintitle {
  text-decoration: underline;
  color: red;
  font-family: 'Homemade Apple', cursive;
}

a {
  color: brown;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
a:visited {}
