

.bodytext {
  font-size: 12px;
  text-align: justify;
}

.center {
  text-align: center;
}

header h1 {
height: 100px;
padding-top: 50px;
text-align: center;
}

nav ul { text-align: right;
width: 100%;
max-width: 960px;
margin-left: auto;
margin-right: auto;
}

nav li {
text-align: center;
font-size: 26px;
padding-top: 15px;
padding-bottom: 15px;
display: inline;
padding: 15px;
}

main {
  width: 950px;
  border: 3px dotted #35B4A3;
  margin-left: auto;
  margin-right: auto;
  padding: 15px
}

.push {
  display: block;
  height: 100px;
}

.gallery {width: 960px;
}

.gallery li {
  width: 298px;
  height: 298px;
  margin: 10px;
  float: left;
}

.bodytext {
  font-size: 25px;
}

.outerimage {
  background: url(../images/wideldscp.jpeg) top center no-repeat;
  background-size: cover;
  height: 400px;
}

.innertext {
  font-size: 30px;
  color: white;
  padding: 20px;
}

.leftcol {
  width: 400px;
  border: none;
  min-height: 200px;
  display: block;
  float: left;
  padding: 10px
}

.rightcol {
  width: 450px;
  border: none;
  min-height: 200px;
  display: block;
  float: right;
  padding-right: 30px
}

.leftcol2 {
  width: 400px;
  border: none;
  min-height: 200px;
  display: block;
  float: left;
  padding: 10px
}

.rightcol2 {
  width: 400px;
  border: none;
  min-height: 100px;
  display: block;
  float: right;
  padding-right: 120px
}

.profileimg {
  padding-left: 20px;
  width: 500px;
}


.clear { clear: both; }
