nav li {
text-align: center;
font-size: 28px;
padding-top: 15px;
padding-bottom: 15px;
}

main {
  width: 400px;
  border: 3px dotted #35B4A3;
  margin-left: auto;
  margin-right: auto;
  padding: 15px
}

#body {
  padding-top: 15px;
}

.profileimg {
  padding-left: 50px;
  width: 300px;
}


.push {
  display: block;
  height: 100px;
}

.skills {
  padding-left: 55px;
}

.gallery {width: 100%;
}

.gallery li {
  width: 95%;
  margin: 4%;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

.wide-img {
  display: block;
  width: 925px;
  padding-left: 1px;
  padding-bottom: 20px;
}
